:root {
  /* Colors */
  --primary: #000;
  --secondary: #F1F2F1;
  --bg-color: #FFF;
  --accent: #E5E5E5;

  /* Sizes */
  --root-font-size: 10px;
  --body-padding: 100px;
  --heading-text-size: 2.4rem;
  --lg-text-size: 2rem;
  --text-size: 1.8rem;
  --sm-text-size: 1.6rem;
  --xs-text-size: 1.4rem;

  font-size: var(--root-font-size);
}

@media (max-width: 1280px) {
  :root {
    // --body-padding: 20px;
    --root-font-size: 9px;
  }
}

@media (max-width: 998px) {
  :root {
    --root-font-size: 8px;
  }
}

@media (max-width: 760px) {
  :root {
    --root-font-size: 7.5px;
  }
}

@font-face {
  font-family: 'Outfit';
  src: url('./outfit_regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  // letter-spacing: 1.5px;
  font-size: var(--text-size);
  font-weight: 400;
  font-family: 'Outfit', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%; /* For ignorng scrollbar width*/
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding: 0% var(--body-padding);
  background-color: var(--bg-color);
}

::-webkit-scrollbar {
  width: 1.5rem;
}

::-webkit-scrollbar-track {
  background-image: linear-gradient(to bottom, white, var(--bg-color));
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 5px var(--separator-color);
  border: solid 0.5rem white;
  border-radius: 1rem;
}

// Remove arrows from input type="number"
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.no-select {
  user-select: none !important;
}

a,
a:link,
a:active,
a:visited {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: var(--heading-text-size);
}

h2 {
  font-size: var(--sm-text-size);
  font-weight: 200;
}

.sub-text {
  font-size: var(--sm-text-size);
}

span {
  font-size: var(--xs-text-size);
}

button {
  // width: calc(100vw - 2 * var(--body-padding) - 25px);
  width: 625px;
  padding: 7.5px 10px;
  color: white;
  font-size: var(--sm-text-size);
  font-weight: 100;
  background-color: var(--primary);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.outlined-btn {
  // width: calc(100vw - 2 * var(--body-padding) - 25px);
  width: 625px;
  background-color: var(--bg-color);
  font-size: var(--sm-text-size);
  padding: 7.5px 10px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.center-child {
  display: grid;
  place-items: center;
}

.textfield {
  flex: 1;

  label {
    font-size: var(--xs-text-size);
  }

  input {
      font-size: var(--sm-text-size);
      height: 4rem;
      width: 100%;
      margin-top: 10px;
      padding-left: 10px;
      border: 1px solid rgba(0, 0, 0, 0.25);
      border-radius: 10px;
  }

  input, input:focus, input:hover {
      outline: none;
  }

  input:focus {
      border: 1px solid rgba(0, 0, 0, 1);
  }
}

.error-field {
  font-size: var(--sm-text-size);
  color: red;
}

.row-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;   
}

.nft-grid {
  display: grid;
  grid-template-columns: repeat(5,18.5%);
  grid-row-gap: 30px;
  grid-column-gap: 20px;

  .nft-card {
      aspect-ratio: 1/1;
      img {
          border-radius: 10px;
      }

      .caption {
          font-size: var(--sm-text-size);
          text-align: center;
      }
  }
}

.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255,255,255,0.75);
  z-index: 1;
  display: grid;
  place-items: center;
}
