.dir-flex {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .select-flex {
        display: flex;
        align-items: center;
    
        p {
            font-size: var(--sm-text-size);
        }
    }
}


.draggable {
    padding: 10px 20px;
    margin: 15px 0px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: var(--secondary);
    cursor: grab;

    .draggable-icon {
        height: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .d {
            height: 1.5px;
            width: 2.5rem;
            background-color: var(--primary);
        }
    }

    .rarity-btn {
        // position: absolute;
        // right: 20px;
        margin-left: auto;
        font-size: var(--sm-text-size);
        cursor: pointer;
    }
}

