nav {
    height: 70px;
    width: 100%;
    padding: 0% var(--body-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: var(--lg-text-size);
    cursor: pointer;
}

.nav-btn-flex {
    display: flex;
}

.border-button {
    background-color: var(--bg-color);
    font-size: var(--xs-text-size);
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
} 

